.main_container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 40px 0;
}

.cart_wrapper {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.cart_products {
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 780px;
    width: 100%;
}

.cart_empty {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.product_wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    border: 1px solid #DDDDDD;
    border-radius: 12px;
    min-height: 180px;
    max-width: 780px;
    width: 100%;
}

.product_image {
    border-radius: 12px 0 0 12px;
    flex-basis: 200px;
    flex-shrink: 0;
    height: 100%;
}

.product_thumbnail {
    display: none;
    border-radius: 12px;
    flex-basis: 117px;
    flex-shrink: 0;
    height: 117px;
}

.product_thumbnail img,
.product_image img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.product_content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 100%;
    padding: 10px 32px 10px 0;
}

.product_title_wrapper {
    display: flex;
    gap: 8px;
    align-items: start;
    justify-content: space-between;
}

.product_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #282828;
}

.priduct_btn_del {
    cursor: pointer;
}

.product_inner {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.product_price_wrapper {
    display: flex;
    gap: 16px;
}

.product_price {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #282828;
}

.product_price__old {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-decoration: line-through;
    color: #8B8B8B;
}

@media screen and (max-width: 767.9px) {
    .product_wrapper {
        gap: 8px;
        padding-left: 8px;
    }

    .product_image {
        display: none;
    }

    .product_thumbnail {
        display: block;
    }

    .product_inner {
        gap: 16px;
    }

    .product_content {
        padding-right: 8px;
        gap: 16px;
    }
}