.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    min-height: 128px;
    padding: 25px 40px;
    border-bottom: 1px solid #DDDDDD
}

.nav_container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.nav_link {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #282828;
    text-decoration: none;
}

.nav_link__active {
    color: #0D50FF;
}

.cart {
    position: relative;
}

.cart_count {
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 10.8px;
    text-align: center;
    color: #FFFFFF;
    background: #0D50FF;
    min-width: 26px;
    min-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 7px;
}