.footer_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 40px 80px;
}

.footer_inner {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer_content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 12px;
    background-color: #F1F3F4;
    flex-grow: 1;
}

.footer_info:nth-of-type(2n + 1) {
    max-width: 780px;
}

.footer_info:nth-of-type(2n) {
    max-width: 548px;
}

.footer_info_inner {
    display: flex;
    gap: 16px;
}

.footer_info_title {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #8B8B8B;
}

.footer_info_text {
    font-size: 40px;
    font-weight: 600;
    line-height: 44px;
    color: #282828;
    text-decoration: none;
}

.footer_map {
    border-radius: 12px;
    height: 350px;
}