.categories_wrapper {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.categories_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}